*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f8f7f7;  
}
.App-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  background-color:#f8f7f7;
  
}

.container-section .hero-content .btn-ver-mas{
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.container-section .hero-content a {
  
  border: 1px solid #000000;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 200px;
}
.hero{
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.hero-image{
  padding-top: 90px;
  width: 120%;
  padding-left: 90px;
  padding-bottom: 100px;
}
.hero-title{
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 100px;
}

.hero-description{
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: rgb(0, 0, 0);
  background: white;
}
nav .logo{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right:auto;
  margin-left: 30px;
}
nav .logo a{
  text-decoration:none ;
  color: #000000;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li{
  font-size: 1.2rem;
  margin-left: 15px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #000000;
  transform: scale(.8);
  transition: all .3s ease-in-out;
}
nav ul li a{
  text-decoration: none;
  color: #000000;
}
nav ul li:hover{
  background-color:var(--back--) ;
  transform: scale(1.1);
  cursor: pointer;
}
nav .search .button-login{
  background: black;
  color: white;
  font-size: 1.2rem;
  width: 90px;
  height: 50px;
  border-radius: 15%;
  transform: scale(.8);
  transition: all .3s ease-in-out;
  margin-right: 30px;
}
nav .search .button-login:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.main_content .titulo{
  display: flex;
  position: relative;
  background-color: #f8f7f7;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  align-items: center;
  color: #000000;
  font-size: 2.5rem;
  text-transform: uppercase;
  
}
.main_content .items{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  background: white;
}

.main_content .card{
  background:#E5E5E5;
  width: 30%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(.8);
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
}
.main_content .card .card_img{
  margin-top: -5vw;
}
.main_content .card .card_img img{
  width: 200px;
  border-radius: 50%;
}
.main_content .card .card_header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  margin: 25px 0;
}
.main_content .card .card_header h2{
  font-size: 2rem;
}
.main_content .card .card_header p{
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
  margin: 8px 0 ;
}
.main_content .card .card_header .price{
  font-size: 2.1rem;
  color:rgb(255, 145, 0);
}
.main_content .card:hover{
  background-color:var(--back--) ;
  transform: scale(1.1);
  cursor: pointer;
}
/* seccion formulario */
.contactos-fomurlario{
padding: 30px;
}
.contactos-fomurlario label input{
width:100%;
padding:10px;
box-sizing:border-box;
background:none;
outline:none;
resize:none;
border:0;
transition:all .3s;
border-bottom:2px solid #393b42}

.contactos-fomurlario button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #3a3c46;
  background:0;
  color:#000000;
  cursor:pointer;
  transition:all .3s
}
.contactos-fomurlario button:hover{
  background:black;
  color:#fff;
}
.formulario{
  width:540px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;box-shadow:0 0 40px -10px #000;
  margin: auto;
  padding: 30px;
  box-sizing:border-box;
  position:relative;
}

/* final formulario */
.footer{
  background: #183FCA;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  color: white;
  position: relative;
}
.footer .social{
  display: flex; 
  align-items: center; 
  padding: 10px;
}
.footer .social p{
  margin-right: auto;
  font-size: 1.2rem;
}
.footer .social .fa{
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  justify-content: center;
  font-size: 1.2rem;
  color: rgba(white, .3);
  cursor: pointer;
  border:0.2px solid white;
  margin-top: 10px;
  margin-left: 5px;
}

.footer .derechos {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer .derechos p{
  padding-bottom: 15px;
}